
@{
    ViewBag.Title = "CountState";
}

<div class="bg-dark p-4 rounded-3 w-75 m-auto">
    <h2 class="text-warning">SPEDIZIONI IN ATTESA</h2>
    <hr class="text-warning"/>
    <div class="text-light" id="totalCount">Caricamento...</div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: 'TotaleInAttesa', 
                type: 'POST',
                success: function (data) {
                    console.log(data)
                    $('#totalCount').text('In attesa di consegna: ' + data.TotalCount);
                },
                error: function () {
                    $('#totalCount').text('Si è verificato un errore durante il recupero dei dati.');
                }
            });
        });
    </script>
    }
