@{
    ViewBag.Title = "Group City";
}

<div class="bg-warning p-4 rounded-3 w-75 m-auto">
    <h2>SPEDIZIONI PER CITTA'</h2>
    <hr class="text-dark"/>
    <div class="lead" id="cittaDestinatarie">
    </div>

</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "GruppiCitta",
                type: 'POST',
                success: function (data) {
                    var cittaDestinatarieHtml = '<ul>';
                    for (var i = 0; i < data.length; i++) {
                        cittaDestinatarieHtml += '<li>' + data[i] + '</li>';
                    }
                    cittaDestinatarieHtml += '</ul>';
                    $('#cittaDestinatarie').html(cittaDestinatarieHtml);
                },
                error: function () {
                    $('#cittaDestinatarie').html('Si è verificato un errore durante il recupero dei dati.');
                }
            });
        });
    </script>
}

