@{
    ViewBag.Title = "Home Page";
}

<main class="bg-warning p-5 rounded-2 shadow-lg">
    <section class="row">
        <div class="mb-4 bg-opacity-25 bg-white shadow-lg rounded-2">
            <h1 class="text-center">Benvenuti in EPL</h1>
            <h4 class="fw-lighter text-center">EPICODE PRESTIGE LOGISTICS</h4>
        </div>
        <p class="lead">Siamo una società di spedizioni leader nel settore, specializzata nella consegna rapida e affidabile delle tue merci in tutto il mondo.</p>
    </section>

    <div class="row">
        <section class="col-md-4" >
            <h2>I nostri servizi</h2>
            <p>
                Offriamo una vasta gamma di servizi di spedizione, tra cui spedizioni nazionali ed internazionali, consegne rapide e monitoraggio in tempo reale.
            </p>
            <p><a class="btn btn-outline-dark" href="#">Scopri di più &raquo;</a></p>
        </section>
        <section class="col-md-4">
            <h2>I Nostri clienti</h2>
            <p>Soddisfiamo le esigenze di aziende di qualsiasi dimensione e privati, garantendo la massima affidabilità e sicurezza per le spedizioni.</p>
            <p><a class="btn btn-outline-dark" href="#">Scopri di più &raquo;</a></p>
        </section>
        <section class="col-md-4">
            <h2 >Contattaci</h2>
            <p>Hai bisogno di assistenza o hai domande? Non esitare a contattarci. Siamo qui per aiutarti.</p>
            <p><a class="btn btn-outline-dark" href="#">Contattaci &raquo;</a></p>
        </section>
    </div>
</main>